<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employ Home</title>
</head>
<body>
<form>
<input type = "submit" value = "Bill" formaction="#" th:formaction="@{/billing}"><br><br>
<input type = "submit" value = "Add veg" formaction="#" th:formaction="@{/newVeg}"><br><br>
<input type = "submit" value = "Vegetable List" formaction="#" th:formaction="@{/vegList}"><br><br>
<input type = "submit" value = "Sign Out" formaction="#" th:formaction="@{/EmployLogIn}">
</form>
</body>
</html>